@import '../../../styles/customMediaQueries.css';

.root {
  position: relative;
  box-shadow: var(--boxShadowBottomForm);

  @media (--viewportLarge) {
    box-shadow: none;

    /* Clearfix */
    width: 100%;
    overflow: hidden;
  }
}

.spinner {
  stroke: var(--colorWhite);
  width: 18px;
  height: 18px;
  stroke-width: 4px;
}

.fillSuccess {
  fill: var(--colorSuccess);
}

.strokeMatter {
  stroke: var(--colorGrey700);
}

.submitContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.submitContainer .sendButtons {
  display: flex;
  gap: 10px;
}

.errorContainer {
  display: block;
  flex: 1;
  text-align: right;
  padding: 26px 24px 0 0;
}

.error {
  composes: h5 from global;

  font-weight: var(--fontWeightMedium);
  color: var(--colorFail);
  margin: 0;
}

.submitButton {
  float: right;
  min-width: 150px;
}

.uplopadButton {
  float: right;
}

.sendIcon {
  margin: -3px 5px 0 0;
}

.uploadContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.uploadButton {
  background: none;
  border: none;
  padding: 0.5rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: background 0.2s;
}

.uploadButton:hover {
  background-color: #f3f4f6;
  /* Tailwind's gray-100 */
}

.hiddenInput {
  display: none;
}

svg {
  fill: none;
}

.SelectedFile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.Filename {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  max-width: 490px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.closeIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;

  path {
    stroke: #f00;
  }
}

.errorStyle {
  margin: 0;
  font-size: 13px;
  color: #f00;
  border: 1px solid;
  padding: 0;
  margin-top: 10px;
  text-align: center;
}

.generatedPriceContainer {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 18px;
  border: 1px solid var(--marketplaceColorDark);
  padding: 8px;
  margin-bottom: 22px;
  border-radius: 8px;
  color: #fff;
  background: var(--marketplaceColor);
  .priceToPayNow, .priceToPayLater {
    display: flex;
    justify-content: space-between;
    gap: 108px;
    label {
      font-size: 14px;
      font-weight: bold;
    }
    span {
      font-size: 14px;
    }
  }
}
