@import '../../../styles/customMediaQueries.css';

.root {
}

.icon {
  display: none;

  @media (--viewportMedium) {
    display: block;
    margin-bottom: 36px;
  }
}

.heading {
  composes: marketplaceModalTitleStyles from global;
}

.field {
  margin: 25px 0 24px 0;

  @media (--viewportMedium) {
    margin: 22px 0 24px 0;
  }
}

.error {
  color: var(--colorFail);
  margin-top: 0;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}


.modal-box {
 h2.modal-title {
    font-size: 24px;
    color: #000000;
    margin: 0;
    padding: 0;
    line-height: normal;
}
p.modal-subtext {
  font-size: 19px;
  color: #000;
}
.checkbox-group {
  span {
    line-height: 30px;
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
  }
}
.mainbuttonWrapper {
  display: flex;
  gap: 15px;
button{
  &:nth-child(2) {
    max-width: fit-content;
    padding: 15px;
    background: #fff;
    color: #cc2e2e;
    border: 1px solid #cc2e2e;
}
}
}

}

