@import '../../styles/customMediaQueries.css';

.customField {
  /* margin-bottom: 24px; */
  margin: 25px 0 0px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--viewportMedium) {
    /* margin-bottom: 32px; */
    margin: 10px 0 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
